*{
    margin: 0;
    padding: 0;
}
.nav{
display: inline-block;
width: 100vw;
height: 8vh;
background-color: black;

}
.logo{
    
        display: inline;
        position: absolute;
        left: 18vw;
    }

.logo img{ 
    display: inline;
    width: 5vw; 
    height: 8vh;
    border-radius:80vh ;

}
.nav ul{
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
text-decoration: none;


list-style: none;
/* padding: 0vw 0 0vw 3vw; */
font-family: revert;
text-transform: uppercase;

margin: 1vh 0vh;


}
.nav ul li{
 

    color: rgb(255, 251, 251);
   text-decoration: none;
font-size: 5vh;

list-style: none;
padding: 0vw 2vw 0vw 3vw;
font-family: revert;
text-transform: uppercase;
}
.nav ul li a{
    color: white;
    list-style: none;
    text-decoration: none;
}
.input{ 
    position: absolute;
    left: 69vw;
    top: 0vh;
}
.nav li input{
    width: 12vw;
    height: 4vh;
border-radius: 3vh;
}
.nav:hover{
    cursor: pointer;
}
.nav li a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 45px;
}
.nav li input:hover{ 
    display: inline;   
    
    color: rgb(0, 0, 0);
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main img{
    padding: 1vh 0vh 2vh 1vh;
    width: 98vw;
    height: 90vh;
    background-position: center;
    background-attachment: fixed;
    /* position: absolute; */
}
.main{
    background-position: center;
    width: 98vw;
    height:calc(100vh-8vh-8vh);
    display: inline-block;}
.grid{
     display: flex;
     justify-content: space-between;

}
    .maininner img{
    
    width: 33vw;
    height: 60vh

}
.grid2 img{
    width: 33vw;
    height: 35vw;
}

.grid2  {
    
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: 23VH 34VH; */
    grid-column-gap: 3vw;

    
}



.footer{

    display: flex;
    align-items: center;
    width: 100vw;
    height: 8vh;
    /* height:calc(100vh-8vh-8vh+8vh) ; */
    background-color: black;
    color: white;
    justify-content: center;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    
}










@media screen and (max-width:800px){
    .nav{
        display: inline-block;
        width: 100vw;
        height: 5vh;
        background-color: black;
        
        }
        .logo{
    
            display: inline;
            position: absolute;
            left: 18vw;
        }
        logo img{ 
            display: inline;
            width: 5vw; 
            height: 3vh;
            border-radius:56vh ;
        
        }
        .nav ul li{
    
            text-align: center;
            color: rgb(0, 0, 0);
        text-decoration: none;
        
        
        list-style: none;
        
        font-family: revert;
        text-transform: uppercase;
        
        margin: 1vh 0vh;
        
        
        }
        

}
